<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ornithology_favre_berthouzoz"
    android:name=".Ornithology_Favre_Berthouzoz">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".InfoBirdActivity"
            android:label="@string/title_activity_tabbed_info_bird"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddEditFamilyActivity"
            android:label="@string/title_activity_search_name"
            android:parentActivityName=".SearchFamilyActivity" />
        <activity
            android:name=".InfoFamily"
            android:parentActivityName=".SearchFamilyActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchFamilyActivity"
            android:label="@string/search_family"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchNameActivity"
            android:label="@string/title_activity_search_name"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settingsTitle"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddEditBirdActivity"
            android:label="@string/add_bird"
            android:parentActivityName=".SearchNameActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>