<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ornithology_favre_berthouzoz">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".AddFamily"
            android:parentActivityName=".SearchFamilyActivity"></activity>
        <activity
            android:name=".InfoFamily"
            android:parentActivityName=".SearchFamilyActivity" />
        <activity android:name=".InfoBird" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchFamilyActivity"
            android:label="@string/title_activity_search_family"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchNameActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_search_name"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddEditBirdActivity"
            android:label="Add a new Bird"
            android:parentActivityName=".SearchNameActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>