<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:name=".Ornithology_Favre_Berthouzoz"
    package="com.example.ornithology_favre_berthouzoz">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".InfoBirdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddEditFamilyActivity"
            android:label="@string/title_activity_search_name"
            android:parentActivityName=".SearchFamilyActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchFamilyActivity"
            android:label="@string/search_family"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchNameActivity"
            android:label="@string/title_activity_search_name"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".ActivitySettings"
            android:label="@string/settingsTitle"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddEditBirdActivity"
            android:label="@string/add_bird"
            android:parentActivityName=".SearchNameActivity" />
        <activity
            android:name=".MainActivity"
             />

        <activity
            android:name=".ui.login.SignUpActivity"
            android:parentActivityName=".ui.login.LoginActivity" />

        <activity android:name=".ui.login.LoginActivity"></activity>



        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>